body p{
  color:green;
}
body{
  background-color: Black;
  font-family: verdana;
  color: white !important;
}

h1{
font-family: Arial;
}

a
{
  color: inherit;
}

div{
	margin-top: 10px;
	margin-left: 20px;
}
body
{
  color:red;
}
p
{
  color: blue;
}
